:root {
    --color-bg: #2f857d ;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
}

.title {
    font-style: normal;
    font-size: 50px;
    line-height: 105%;
    margin: 0;
}

.subtitle {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #D198F9;
}

h4 {
    text-align: center;
    color: #FAA094;
}

body {
    background-color: var(--color-bg);
} 

p {
    writing-mode: vertical-lr;
    text-orientation: upright;
}