/**
File Name: style.css
Original Authors: Drew Fink, Zach Sambol, Andrew Brown, Raj Nara
Modified By: Natasha Shirley, Chen Lu, Andrew Loaiza, Jui Nagarkar, and Regan Janssen
Description: CSS file used to help Design the Battleship Game
Date: Oct. 10, 2021
*/

:root {
    --color-bg: #2f857d ;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
}

.title {
    font-style: normal;
    font-size: 50px;
    line-height: 105%;
    margin: 0;
}

.subtitle {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #D198F9;
}

h4 {
    text-align: center;
    color: #FAA094;
}

body {
    background-color: var(--color-bg);
}

p {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.p1-grid { margin:1em 2em; border-collapse:collapse; display: inline-block }
.p1-grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid red;
    text-align:center;
    font-family:sans-serif; font-size:13px; color: white
}
.p1-grid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.p1-grid td.hit {
    background-color:blue;
    font-weight:bold; color:blue;
}

.p1-grid td.benign {
    background-color:green;
    font-weight:bold; color:green;
}

.p1-guess { margin:1em 2em; border-collapse:collapse; display: inline-block }
.p1-guess td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid red;
    text-align:center;
    font-family:sans-serif; font-size:13px; color: white
}
.p1-guess td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.p1-guess td.hit {
    background-color:blue;
    font-weight:bold; color:blue;
}

.p2-grid { margin:1em 2em; border-collapse:collapse; display: inline-block }
.p2-grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid blue;
    text-align:center;
    font-family:sans-serif; font-size:13px; color: white
}
.p2-grid td.clicked {
    background-color:blue;
    font-weight:bold; color:blue;
}

.p2-grid td.hit {
    background-color:red;
    font-weight:bold; color:red;
}

.p2-grid td.benign {
    background-color:pink;
    font-weight:bold; color:pink;
}

.p2-guess { margin:1em 2em; border-collapse:collapse; display: inline-block }
.p2-guess td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid blue;
    text-align:center;
    font-family:sans-serif; font-size:13px; color: white
}
.p2-guess td.clicked {
    background-color:blue;
    font-weight:bold; color:blue;
}

.p2-guess td.hit {
    background-color:red;
    font-weight:bold; color:red;
}

img{
    height: 300px;
    width: 300px;
    top: 400px;
    bottom: 400px;
    left: 900px;
    right: 900px;

}