:root {
    --color-bg: #69F7BE;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
}

body {
    background-color: var(--color-bg);
} 

.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}